.preview {
    padding: 10px 16px;
    border-bottom: 1px solid #fafafa;
}
.preview:hover {
    cursor: pointer;
    box-shadow: 1px 3px 5px #f1356d;
}
.preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}